iso
*.box
virtualfloppy.vfd
packer_cache
packer.log
.DS_Store
**/.DS_Store


# Ignore folders from ansible branch
/provisioning/
/codebase/engrade/*
/shared_folder/*

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
bin/
.hg
.svn
.CVS
.idea
.bundle/
.vagrant
httpdocs
